@import "../utils/mixin"; 
.orderID {
    background:linear-gradient(to right,#e58a0c,#945ef0);
    @include webkit;
    font-weight: bold;
    font-size: 2.5rem;
}

.resume {
    padding: 20px 0px;
}

.resume p {
    font-size: 1.5rem;
}
.resume h1 {
    background:linear-gradient(to right,#e58a0c,#945ef0);
    @include webkit; 
}

.prixTotal {
    background:linear-gradient(to right,#e58a0c,#945ef0);
    @include webkit;
    font-size: 2rem;
}