.orderID {
    color: green;
    font-weight: bold;
    font-size: 2.5rem;
}

.resume {
    padding: 20px 0px;
}

.resume p {
    font-size: 1.5rem;
}

.prixTotal {
    color: green;
    font-size: 2rem;
}