header{
    display:flex;
    justify-content: center;
}
i{
    font-weight: 10rem;
}
nav a, nav a:hover
{
    color:black;
    
}
.logo
{
   height: 5rem;
   width: 10rem; 
}
.fa-shopping-basket{
    color:rgb(128, 128, 128);
}