.card {
    width: 18rem;
    margin: 20px 20px; 
}
img{
    height: 200px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa
{
    margin: 10px 0px;
}
.page, header
{
    background-color: #f3e9f1;
}