@import "../utils/mixin";
@import "../utils/variables";
.card {
    width: 18rem;
    margin: 20px 20px; 
}
main{
    @include center;
}
.fa
{
    margin: 10px 0px;
}
.page, header
{
    background-color: $bg-body;
}
