.card {
    width: 18rem;
    margin: 20px 20px; 
}
img{
    height: 200px;
}

.price{ 
    background-color: grey;
    margin: 20px 0px; 
}

.colors
{
    background-color: red;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
td
{
    padding:10px;
}
h1
{
    text-align:center;
}