@import "../utils/keyframe";

.col-lg-6
{
    @include center;
    flex-direction: column;
}
.col-lg-6 a
{
    margin:20px 0px; 
}
.col-lg-6 img{
    border: 2px solid black;
    box-shadow: 1px 2px black;
}
.perso
{
    text-decoration: underline;
}
#ajoutpanier
{
    &:hover{
        animation: zoom 2s ; 
    }
}
