@keyframes zoom
{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%
    {
        transform: scale(1.25);
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}