@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin webkit {
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
}